:root {
  --color_iris: #4d5ae5;
  --color_ocean: #404bbf;
  --color_ocean_new: #404bbf;
  --color_navy-blue: #2e2f42;
  --color_green: #31d0aa;
  --color_slate: #434455;
  --color_light-slate: #8e8f99;
  --color_cornflower: #e7e9fc;
  --color_cloud: #f4f4fd;
  --color_navy-blue-modal: #2e2f42;
  --color_grey: #2e2f42;
  --color_white: #ffffff;
  --white-color: #fcfcfc;
  --background-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7) 100%
  );
  --font_primary: "Roboto";
  --font_secondary: "Raleway";
  --hover-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*------------------------------ ЗКИДАННЯ --------------------- */
body {
  font-family: var(--font_primary), "Arial", sans-serif;
  color: var(--color_slate);
  background-color: var(--color_white);
  font-size: 16px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
address {
  font-style: normal;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* hidden elements class */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* ----------------------------HEADER--------------------------- */
.logo {
  font-family: var(--font_secondary, "Arial", sans-serif);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color_navy-blue);
}
.header-logo {
  color: var(--color_iris);
}
.mobile-menu-open {
  background-color: transparent;
  border: none;
  line-height: 0;
  padding: 0;
}
.mobile-menu-icon {
  stroke: var(--color_navy-blue-modal);
}
.mobile-menu_container {
  position: relative;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 0px 40px 40px;
  overflow-y: auto;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  opacity: 0;
}
.mobile-close-btn {
  position: absolute;
  top: 25px;
  right: 19px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: var(--color_cornflower);
  border: none;
  line-height: 0;
  padding: 0;
}

.close-modal-icon {
  fill: var(--color_navy-blue);
  align-items: center;
  justify-content: space-between;
}
.mobile-address-group {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.mobile-menu-content {
  margin-bottom: 120px;
}
.mobile-menu-content-group {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-list {
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color_navy-blue-modal);
}
.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.address-link-phone {
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color_iris);
  letter-spacing: normal;
}
.address-link-mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #434455;
}
.social-div-group {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.social-div-list {
  display: flex;
}
.social-div-list-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color_iris);
}
/* -------------MEDIA FUNCTION------------------------- */
@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .address {
    display: none;
  }
}
.overlay {
  min-height: 320px;
  margin: 0 auto;
  background: rgba(46, 47, 66, 0.7);
  background-image: var(--background-gradient),
    url(../images/mobile/Dark-bg@min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  padding-top: 96px;
  padding-bottom: 96px;
}

.title-hero {
  font-weight: 700;
  min-width: 320px;
  height: 80px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color_white);
  margin: 0 auto 72px;
}
.btn-hero {
  display: block;
  margin: 0 auto;
  background-color: var(--color_iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: none;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color_white);
  min-width: 169px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  padding: 16px 32px;
  transition: background-color var(--hover-transition),
    box-shadow var(--hover-transition);
}
.btn-hero:active,
.btn-hero:focus,
.btn-hero:hover {
  background-color: var(--color_ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.features-img {
  display: none;
}
.features {
  margin-top: 96px;
  margin-bottom: 96px;
}
.list-text {
  display: inline-flex;
  flex-direction: column;
  gap: 72px;
}
.features-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  line-height: 1.11;
  color: var(--color_navy-blue-modal);
  margin-bottom: 8px;
}
.features-text {
  font-style: normal;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color_slate);
}
/* sectione Target */
.target {
  display: none;
}
/* sectione Our team */
.our-team {
  background-color: var(--color_cloud);
  align-items: center;
  justify-content: center;
  padding-bottom: 72px;
  padding-top: 72px;
}
.title-section {
  text-align: center;
  font-weight: 700;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color_navy-blue-modal);
}
.team-items {
  width: 264px;
  background-color: var(--color_white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color_navy-blue);
  margin-bottom: 8px;
}
.text-team {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.title-div {
  padding: 32px 16px;
}
.social-team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.social-team-list-item {
  width: 40px;
  height: 40px;
}
.social-team-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--color_iris);
  transition: background-color var(--hover-transition);
}
.social-team-link:is(:hover, :focus) {
  background-color: var(--color_ocean);
}
/* -------Customers--------------- */
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.social-customers-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 72px;
}

.social-customers-link {
  width: 168px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid currentColor;
  color: #8e8f99;
  transition: color var(--hover-transition);
}
.social-icon {
  fill: currentColor;
}
.social-customers-link:is(:hover, :focus) {
  color: var(--color_ocean);
}
/* --------------Footer----------------- */
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--color_navy-blue);
}

.container-left {
  align-items: center;
}
.container-right {
  margin-bottom: 72px;
}
.footer-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.logo-footer {
  display: block;
  margin-bottom: 17px;
  text-align: center;
  font-family: var(--font_secondary, "Arial", sans-serif);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color_cloud);
  letter-spacing: 2%;
}

.begin-logo {
  color: var(--color_iris);
}

.text-footer {
  width: 268px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color_cornflower);
}
.text-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.social-div-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.social-div-list-item {
  width: 40px;
  height: 40px;
}
.social-link-footer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--hover-transition);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-subscribe-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.footer-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.footer-input {
  box-sizing: border-box;
  color: #ffffff;
  background-color: #2e2f42;
  width: 100%;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 400;
  font-size: 12px;
  align-items: center;
  letter-spacing: 0.04em;
  outline: none;
  padding-left: 16px;
}
.footer-btn {
  display: flex;
  width: 165px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 24px;
  background-color: var(--color_iris);
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: rgba(255, 255, 255, 1);
  border-color: transparent;
}
.footer-input::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.footer-input:focus {
  border-color: var(--color_iris);
  transition: color var(--hover-transition);
}
.footer-btn:focus,
.footer-btn:hover {
  background-color: var(--color_ocean_new);
  transition: color var(--hover-transition);
}
/* ---------------------backdrop---------------- */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  transition: visibility var(--hover-transition),
    opacity var(--hover-transition);
}
.modal {
  position: absolute;
  width: 408px;
  height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  padding: 72px 24px 24px 24px;
}
.modal-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
  margin-bottom: 24px;
  top: 24px;
  right: 24px;
  transition: background-color var(--hover-transition),
    fill var(--hover-transition);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
}
/* ---------------------------MODAL INPUT -------------------------*/
.modal-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  color: var(--color_navy-blue-modal);
  margin-bottom: 16px;
}
.modal-forms {
  margin: 0 auto;
}

.form-input {
  display: flex;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 38px;
}

.form-input-comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 16px 8px;
}

.name-form {
  display: block;
  margin-bottom: 8px;
}
.modal-form {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.accept-form {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  padding-top: 16px;
  color: #8e8f99;
}

.btn-forma-modal {
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 24px auto 0;
  width: 169px;
  height: 56px;
  background-color: var(--color_iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 0px;
}
.btn-forma-modal:hover,
.btn-forma-modal:focus {
  background-color: var(--color_ocean_new);
  transition: background-color var(--hover-transition);
}
.modal-wrap {
  position: relative;
  display: block;
}

.person-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--hover-transition);
  left: 18px;
}
.form-input:focus {
  outline: none;
  border-color: var(--color_iris);
}
.form-input:focus + .person-icon {
  border-color: var(--color_iris);
  fill: var(--color_iris);
  transition: fill var(--hover-transition);
  transition: border-color var(--hover-transition);
}
.form-input-comment:focus {
  outline: none;
  border-color: var(--color_iris);
  transition: border-color var(--hover-transition);
}

.accept-form::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1.25px solid #404bbf;
  margin-right: 8px;
  transform: translate(0);
  cursor: pointer;
}
.modal-form-check:checked + .accept-form::before {
  background-color: var(--color_iris);
  background-image: url(../images/fly.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-origin: content-box;
}
.policy {
  color: var(--color_iris);
}
